div{
    border: 4px solid black;
    border-radius: 10px
}

ul{
    list-style:none;
    padding-inline-start:0;
}
li {
    display:inline;
}
#status{
  text-align: center;
  font-size: 3em;
  border:none;
  border-radius:0;
  
}
#status.work{
   background-color: #80cc33;
  }
#status.rest{
  background-color: #c63939;
}
#time {
    font-size:2rem;
    text-align:center;
    border:none;
}

#controls {
  text-align:center;
  border-radius:0;
  border-left:none;
  border-right:none;
}

.status-control {
  width:50%;
  box-sizing:border-box;
  text-align:center;
}
#control-timer {
  float:left;
  border:none;
}
#rest-timer {
  float:right;
  border:none;
}
.status-butt {
  font-size:1.5rem;
  width:2rem;
}
.control-butt {
  width:3rem;
  height:2rem;
}
#play{
  background-image:url('Controls/16px-Octicons-playback-play.svg.png');
  background-repeat:  no-repeat;
  background-position: center;
}
#play.pause{
  background-image:url('Controls/16px-Octicons-playback-pause.svg.png');
  background-repeat:  no-repeat;
  background-position: center;
}
#stop{
  background-image:url('Controls/16px-Octicons-primitive-square.svg.png');
  background-repeat:  no-repeat;
  background-position: center;
}
#back{
  background-image:url('Controls/32px-Fast_backward_font_awesome.svg.png');
  background-repeat:  no-repeat;
  background-position: center;
}
#forward{
  background-image:url('Controls/32px-Fast_forward_font_awesome.svg.png');
  background-repeat:  no-repeat;
  background-position: center;
}
body{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#timer {
  max-width: 24rem;
  margin:4rem auto 0 auto;
  background-color:	#f2f2f2;
}
#timer::after {
  content: "";
  clear: both;
  display: table;
}
